.paymentmodal {
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 125px);
  width: 250px;
  height: 250px;
  border: 2px solid #ccc;
  background: #fff;
  z-index: 5;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  &__title{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__btnBox{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  &__proceed, &__cancel{
    border: 1px solid #ccc;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
}